.container {
    background-color: rgb(50, 177, 50);
    width: 100vw;
    height: 90vh;
    background-image: url(https://picsum.photos/230/230);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

P {
    color: black;
}

h1 {
    font-weight: 100;
}

#square {
    width: 250px;
    height: 250px;
    background-color: yellow;
    margin: 100px 100px;
    border: 10px solid brown;
}

a {
    margin: 0 10px;
}

body>nav {
    float: right;
}

img {
    width: 230px;
    height: 230px;
    object-fit: contain;
}